/*** Styles ***/

/*** Google Fonts ***/
@import url("https://fonts.googleapis.com/css?family=Poppins");

/*** General Styles ***/
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

/*** Variables ***/
:root {
  --color-1: #FFDD5E;
  --color-2: #201F1A;
  --color-3: #FFFFFF;
  --color-4: #737373;
}

/*** Wrapper ***/
.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*** Header ***/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: var(--color-2);
}

.header a {
  color: white;
}

/*** Calculator ***/
.calculator {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-width: 30%;
  height: 85vh;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: var(--color-1);
}

/*** Calculator Screen ***/
.calculator .calculator-screen {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: var(--color-3);
}

.calculator-screen .screen-operation,
.calculator-screen .screen-result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: end;
  
}

.calculator-screen .screen-operation {
  height: 40%;
  color: var(--color-4);
}

.calculator-screen .screen-result {
  height: 60%;
  font-size: 4rem;
  color: var(--color-2);
}

/*** Calculator Keyboard ***/
.calculator .calculator-keyboard {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 75%;
  margin: 0.5rem 0;
}

.calculator-keyboard .button {
  width: 20%;
  height: 10vh;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: var(--color-1);
}

.calculator-keyboard .chosen-one {
  flex: 0.9;
  border-radius: 2rem;
}