/*** Styles ***/

/*** Google Fonts ***/
@import url("https://fonts.googleapis.com/css?family=Poppins");

/*** General Styles ***/
* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  
}

/*** Variables ***/
:root {
  --color-1: #FFDD5E;
  --color-2: #201F1A;
  --color-3: #FFFFFF;
  --color-4: #737373;
}

/*** Header ***/